<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 50px;">
            <div class="col-md-6 offset-md-3">
              <mat-card>
                <div class="container text-center">
                    <img src="../../../assets/logo.jpg" alt="" />
                </div>
                <h1 class="text-center">Register Here !!</h1>
                <!--{{user|json}}-->
                <form (ngSubmit)="formSubmit()">
                    <!--username field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input 
                        [(ngModel)]="user.username"
                        name="username"
                        matInput placeholder="Enter username">
                        <mat-hint>username must be unique</mat-hint>
                      </mat-form-field>
                        <!--userpassword field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Password</mat-label>
                        
                        <input 
                        [(ngModel)]="user.password"
                        name="password"
                        type="password" matInput placeholder="Enter userpassword">
                      </mat-form-field>
                        <!--name field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input 
                        [(ngModel)]="user.name"
                        name="name"
                        matInput placeholder="Enter name">
                      </mat-form-field>
                          <!--email field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input 
                        [(ngModel)]="user.email"
                        name="email"
                        type="email"matInput placeholder="Enter email">
                      </mat-form-field>
                      <!--phonenumber field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input 
                        [(ngModel)]="user.phone"
                        name="phone"
                        type="number"matInput placeholder="Enter phone number">
                      </mat-form-field>
                      <div class="container text-center">

                        <button type="submit" mat-raised-button color="primary">Register</button>
                        <button style="margin-left:20px"mat-raised-button color="accent">Clear</button>

                      </div>
                      
                </form>
              </mat-card>
            </div>
        </div>
    </div>
</div>
